

.title-counter{
    color: darkblue;
    margin: 0;
    padding: 0;
    text-align: center;   
  }
  

.container-counter{
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 18px;  
  display: flex; 
  flex-wrap: wrap;
}

.counter{
    display: flex;
    justify-content: space-between;
    width: 300px;
    background-color: lightblue;
    margin: 0px auto 20px;
    border-radius: 10px;
    padding: 8px 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.btn-action{
    padding-right: 8px;
    display: flex;
    align-items: center;
}
  
.btn{
padding: 8px 10px;
margin-top: 8px;
border: none;
border-radius: 10px;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
-ms-border-radius: 10px;
-o-border-radius: 10px;
cursor: pointer;
}

.btn-primary{
background-color: darkblue;
color: white;
}

.btn-danger{
background-color: rgb(223, 50, 50);
color: white;
}